{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}

     <div class="navbar-collapse collapse" style="padding-left: 230px;">
      <div class="navbar-form navbar-left">
        {% if user.is_authenticated %}
          <a id="logout" href="/accounts/logout" class="btn btn-success">Logout</a>
        {% else %}
          <a id="google_login" href="/accounts/google/login" class="btn btn-danger">
            Sign in with Google
          </a>
        <a id="fb_login" href="/accounts/facebook/login" class="btn btn-primary">
            Sign in with Facebook
        </a>
        <a id="twitter_login" href="/accounts/twitter/login" class="btn btn-info">
            Sign in with Twitter
        </a>
        {% endif %}
      </div>
    </div><!--/.navbar-collapse -->
</form>
{% endblock %}


{% block sidebar %}
<h4>{% trans "No account?" %}</h4>
<p>
    <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'sign-in' %}"></span>
        {% trans "Register" %}
    </a>
</p>

<h4>{% trans "Forgot password?" %}</h4>
<p>
    <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
    </a>
</p>
{% endblock %}

